resources/gamemode/AlibabaCloud.EndpointUtil.dll
resources/gamemode/AlibabaCloud.GatewaySpi.dll
resources/gamemode/AlibabaCloud.OpenApiClient.dll
resources/gamemode/AlibabaCloud.OpenApiUtil.dll
resources/gamemode/AlibabaCloud.RPCClient.dll
resources/gamemode/AlibabaCloud.SDK.Common.dll
resources/gamemode/AlibabaCloud.SDK.Dysmsapi20170525.dll
resources/gamemode/AlibabaCloud.TeaUtil.dll
resources/gamemode/Aliyun.Credentials.dll
resources/gamemode/aliyun-net-sdk-core.dll
resources/gamemode/AltV.Net.Async.dll
resources/gamemode/AltV.Net.CApi.dll
resources/gamemode/AltV.Net.dll
resources/gamemode/AltV.Net.EntitySync.ServerEvent.dll
resources/gamemode/AltV.Net.Resources.Chat.Api.dll
resources/gamemode/AltV.Net.Shared.dll
resources/gamemode/bkrp.deps.json
resources/gamemode/bkrp.dll
resources/gamemode/bkrp.pdb
resources/gamemode/BouncyCastle.Crypto.dll
resources/gamemode/CustomCommandsSystem.Common.dll
resources/gamemode/CustomCommandsSystem.Core.dll
resources/gamemode/CustomCommandsSystem.Integration.dll
resources/gamemode/CustomCommandsSystem.Services.dll
resources/gamemode/Google.Protobuf.dll
resources/gamemode/K4os.Compression.LZ4.dll
resources/gamemode/K4os.Compression.LZ4.Streams.dll
resources/gamemode/K4os.Hash.xxHash.dll
resources/gamemode/LitJSON.dll
resources/gamemode/MailKit.dll
resources/gamemode/Microsoft.Extensions.DependencyInjection.Abstractions.dll
resources/gamemode/Microsoft.Extensions.DependencyInjection.dll
resources/gamemode/Microsoft.Win32.SystemEvents.dll
resources/gamemode/MimeKit.dll
resources/gamemode/MySql.Data.dll
resources/gamemode/Newtonsoft.Json.dll
resources/gamemode/System.CodeDom.dll
resources/gamemode/System.Configuration.ConfigurationManager.dll
resources/gamemode/System.Drawing.Common.dll
resources/gamemode/System.Linq.Async.dll
resources/gamemode/System.Management.dll
resources/gamemode/System.Security.Cryptography.Pkcs.dll
resources/gamemode/System.Security.Cryptography.ProtectedData.dll
resources/gamemode/System.Security.Permissions.dll
resources/gamemode/System.Windows.Extensions.dll
resources/gamemode/Tea.dll
resources/gamemode/Ubiety.Dns.Core.dll
resources/gamemode/ZstdNet.dll
resources/gamemode/net6.0/gamemode.deps.json
resources/gamemode/net6.0/gamemode.dll
resources/gamemode/net6.0/gamemode.pdb
resources/gamemode/net6.0/ref/gamemode.dll
resources/gamemode/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
resources/gamemode/runtimes/win/lib/net6.0/System.Security.Cryptography.Pkcs.dll
resources/gamemode/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
resources/gamemode/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
resources/gamemode/runtimes/win/lib/netcoreapp3.0/System.Security.Cryptography.Pkcs.dll
resources/gamemode/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
resources/gamemode/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
bkrp/bkrp/bin/Debug/net6.0/bkrp.deps.json
bkrp/bkrp/bin/Debug/net6.0/bkrp.dll
bkrp/bkrp/bin/Debug/net6.0/bkrp.pdb
bkrp/bkrp/bin/Debug/net6.0/ref/bkrp.dll
bkrp/bkrp/bin/Release/net6.0/bkrp.deps.json
bkrp/bkrp/bin/Release/net6.0/bkrp.dll
bkrp/bkrp/bin/Release/net6.0/bkrp.pdb
bkrp/bkrp/bin/Release/net6.0/ref/bkrp.dll
bkrp/bkrp/obj/bkrp.csproj.nuget.dgspec.json
bkrp/bkrp/obj/project.assets.json
bkrp/bkrp/obj/project.nuget.cache
bkrp/bkrp/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
bkrp/bkrp/obj/Debug/net6.0/bkrp.assets.cache
bkrp/bkrp/obj/Debug/net6.0/bkrp.csproj.CoreCompileInputs.cache
bkrp/bkrp/obj/Debug/net6.0/bkrp.dll
bkrp/bkrp/obj/Debug/net6.0/bkrp.pdb
bkrp/bkrp/obj/Debug/net6.0/ref/bkrp.dll
bkrp/bkrp/obj/Release/net6.0/bkrp.assets.cache
bkrp/bkrp/obj/Release/net6.0/bkrp.csproj.AssemblyReference.cache
bkrp/bkrp/obj/Release/net6.0/bkrp.csproj.CoreCompileInputs.cache
bkrp/bkrp/obj/Release/net6.0/bkrp.csproj.FileListAbsolute.txt
bkrp/bkrp/obj/Release/net6.0/bkrp.dll
bkrp/bkrp/obj/Release/net6.0/bkrp.pdb
bkrp/bkrp/obj/Release/net6.0/PublishOutputs.354337387e.txt
bkrp/bkrp/obj/Release/net6.0/ref/bkrp.dll
cache/gamemode.resource
cache/gamemodepackage.resource
server.log
bkrp/.vs/bkrp/v16/.suo
bkrp/bkrp/bkrp.csproj
server.cfg
.vscode/settings.json
bkrp/.vs/bkrp/DesignTimeBuild/.dtbcache.v2
bkrp/bkrp/obj/Debug/net6.0/bkrp.csproj.AssemblyReference.cache
resources/package.json
resources/package-lock.json
resources/gamemodepackage/webview/account/app.js
resources/gamemodepackage/webview/account/assets/bg.jpg
resources/gamemodepackage/webview/account/assets/video.mp4
resources/gamemodepackage/webview/assets/css/bootstrap.min.css
resources/gamemodepackage/webview/assets/css/Fjalla.css
resources/gamemodepackage/webview/assets/css/nifty.css
resources/gamemodepackage/webview/assets/css/switchery.min.css
resources/gamemodepackage/webview/assets/js/bootstrap.min.js
resources/gamemodepackage/webview/assets/js/jquery.min.js
resources/gamemodepackage/webview/assets/js/nifty.min.js
resources/gamemodepackage/webview/assets/js/switchery.min.js
resources/node_modules/@altv/types-client/index.d.ts
resources/node_modules/@altv/types-client/package.json
resources/node_modules/@altv/types-client/README.md
resources/node_modules/@altv/types-natives/index.d.ts
resources/node_modules/@altv/types-natives/package.json
resources/node_modules/@altv/types-natives/README.md
resources/node_modules/@altv/types-server/index.d.ts
resources/node_modules/@altv/types-server/package.json
resources/node_modules/@altv/types-server/README.md
resources/node_modules/@altv/types-webview/index.d.ts
resources/node_modules/@altv/types-webview/package.json
resources/node_modules/@altv/types-webview/README.md
